:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --button-desaturated-red: hsl(0, 30%, 80%);
  --button-soft-red: hsl(0, 80%, 68%);
  --button-desaturated-red-active: hsl(0, 30%, 95%);
  --button-soft-red-active: hsl(0, 80%, 85%);
}

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100vw;
  display: flex;
}

section > div > img {
  height: 2.7rem;
}

.title-and-call-to-action-container {
  width: 35%;
  background: hsla(0, 53%, 68%, 0.1) url("./images/bg-pattern-desktop.svg") top
    no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-inline: 12rem 10rem;
}

.call-to-action-part,
.call-to-action-part > *,
span,
form {
  background: transparent;
}

.girl-banner-desktop {
  background-image: url("./images/hero-desktop.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.girl-banner-mobile {
  background: url("./images/hero-mobile.jpg");
  width: 100vw;
  height: 5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1,
h1 > span {
  font-size: 5rem;
  letter-spacing: 1rem;
}

h1 {
  margin-top: 10rem;
}

span {
  color: var(--desaturated-red);
  font-weight: 100;
}

p {
  margin: 1rem 0 2rem 0;
  color: hsla(0, 36%, 70%, 0.7);
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2rem;
}

form {
  position: relative;
  width: 32rem;
  height: 4rem;
  margin-bottom: 1.5rem;
}

input {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border: solid 1px hsla(0, 36%, 70%, 0.5);
  color: black;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  display: grid;
  place-items: center;
}

input::placeholder {
  font-size: 1.2rem;
  color: hsla(0, 36%, 70%, 0.5);
}

input:focus,
input:active {
  outline: none;
}

button {
  position: absolute;
  background: linear-gradient(
    90deg,
    var(--button-desaturated-red),
    var(--button-soft-red)
  );
  height: 4.1rem;
  width: 7.5rem;
  border-radius: 2rem;
  top: 0;
  right: -2rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 5px 20px var(--desaturated-red);
}

button:active,
button:hover {
  background: linear-gradient(
    90deg,
    var(--button-desaturated-red-active),
    var(--button-soft-red-active)
  );
  box-shadow: 0 10px 30px var(--desaturated-red);
}

button:focus {
  border: red;
  outline: red;
}

form > button > img {
  background: transparent;
  height: 45%;
}

.error-msg {
  padding-left: 1.5rem;
  font-weight: bolder;
  color: var(--soft-red);
}

.error-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 6rem;
  height: 1.8rem;
}

/* UTLITY CLASSES */
.hide {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1366px) {
  h1,
  h1 > span {
    font-size: 3.2rem;
  }

  h1 {
    margin-top: 5rem;
  }

  section > div > img {
    height: 1.8rem;
  }

  p {
    margin: 1rem 0;
    font-size: 1rem;
    line-height: 2rem;
  }

  .title-and-call-to-action-container {
    width: 60%;
    padding-top: 3rem;
    padding-inline: 8rem 6rem;
  }

  .girl-banner-desktop {
    width: 60%;
  }

  form {
    width: 25rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  input {
    border-radius: 1.5rem;
    font-size: 1rem;
    padding-left: 1.5rem;
  }

  input::placeholder {
    font-size: 1rem;
  }

  button {
    position: absolute;
    background: linear-gradient(
      90deg,
      var(--button-desaturated-red),
      var(--button-soft-red)
    );
    height: 3.1rem;
    width: 6rem;
    border-radius: 1.5rem;
    right: -2rem;
    box-shadow: 0 5px 15px var(--desaturated-red);
  }

  button:active,
  button:hover {
    box-shadow: 0 7px 25px var(--desaturated-red);
  }

  .error-msg {
    padding-left: 1rem;
    font-size: 0.9rem;
  }

  .error-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 6rem;
    height: 1.3rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    width: 100vw;
  }

  section {
    flex-direction: row;
    justify-content: center;
  }

  .title-and-call-to-action-container {
    width: 100%;
    padding-top: 2rem;
    padding-inline: 0;
  }

  .call-to-action-part {
    padding-bottom: 3rem;
  }

  section > div > img {
    height: 1.5rem;
    margin: 0 0 1.5rem 1.5rem;
  }

  .girl-banner-mobile {
    width: 100vw;
    height: 15rem;
  }

  h1,
  h1 span {
    font-size: 2rem;
    text-align: center;
  }

  h1 {
    margin-top: 3.5rem;
  }

  p {
    font-size: 0.9rem;
    padding-inline: 1rem;
    line-height: 1.2rem;
    text-align: center;
  }

  form {
    width: calc(100% - 4rem);
    margin: 0 auto;
    height: 2.5rem;
    display: flex;
    gap: 1rem;
  }

  input {
    padding: 0;
    border-radius: 1.25rem;
    padding: 1rem;
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  input::placeholder {
    font-size: 0.8rem;
  }

  button {
    right: -0.3rem;
    height: 2.5rem;
    width: 4rem;
    border-radius: 1.3rem;
  }

  .error-icon {
    top: 50%;
    transform: translateY(-50%);
    right: 4rem;
    height: 1.3rem;
  }

  .error-msg {
    font-size: 0.8rem;
    padding-left: 2.5rem;
  }
}
